In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from category_encoders import TargetEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from tensorflow.python.keras.utils import np_utils
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout

In [2]:
data1 = pd.read_csv('income.csv')
data1.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data1.replace(' ?', np.NaN, inplace=True)

In [4]:
categorical = [var for var in data1.columns if data1[var].dtype=='O']
y = pd.get_dummies(data1.income).iloc[:,1]

# TargetEncoding

In [26]:
te = TargetEncoder(return_df=True)
newData = te.fit_transform(data1[categorical],y)
for i in categorical:
    data1[i] = newData[i]
data1.head()

/home/aidar/anaconda3/lib/python3.7/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,0.271957,77516,0.414753,13,0.045961,0.134483,0.103070,0.25586,0.305737,2174,0,40,0.245835,0.0
1,50,0.284927,83311,0.414753,13,0.446848,0.484014,0.448571,0.25586,0.305737,0,0,13,0.245835,0.0
2,38,0.218673,215646,0.159509,9,0.104209,0.062774,0.103070,0.25586,0.305737,0,0,40,0.245835,0.0
3,53,0.218673,234721,0.051064,7,0.446848,0.062774,0.448571,0.12388,0.305737,0,0,40,0.245835,0.0
4,28,0.218673,338409,0.414753,13,0.446848,0.449034,0.475128,0.12388,0.109461,0,0,40,0.263158,0.0

In [ ]:
X = data1.iloc[:,:-1]
y = data1.iloc[:,-1]
X_train, X_test, y_train, y_test  = train_test_split(X,y,test_size =0.3, shuffle = True)

# LabelEncoding

In [5]:
le = LabelEncoder()
for i in categorical:
    ata2[i] = le.fit_transform(data1[i])
data2.head()

ValueError: y should be a 1d array, got an array of shape (32561, 9) instead.